<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="crud_operations.Properties.Settings.masterConnectionString"
            connectionString="Data Source=MSCCS24;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=sql2024"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>